body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(94, 197, 15); */
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: rgb(267, 16, 45);
    height: 120px;
}

/* logo */
.logo img {
    width: 250px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 5px;
    float: left;
}

/*nút tìm kiếm*/
.search {
    float: left;
    margin-right: 30px;
}

.search input {
    width: 700px;
    height: 40px;
    margin-top: 20px;
    border-radius: 25px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: 0px solid white;
}

.search input[type="text"] {
    padding-left: 50px;
}

.search img {
    position: absolute;
    width: 25px;
    z-index: 999;
    margin-top: 30px;
    margin-left: 10px;
}

/*nút theo dõi đơn hàng */
.follow-order {
    background-color: rgba(0, 255, 255, 0);
    width: 200px;
    height: 40px;
    position: absolute;
    margin-top: 20px;
    margin-left: -15px;
    border: 0px solid rgba(255, 0, 0, 0);
}

.follow-order:hover {
    border: 2px solid rgb(0, 255, 255);
    border-radius: 10px;
}

.follow-order img {
    margin-right: -10px;
    width: 25px;
    float: left;
}

.follow-order>.text {
    font-weight: bold;
    font-size: 15px;
    margin-top: 7px;
    color: white;
}

/*nút đăng nhập*/
.login {
    position: absolute;
    color: black;
    margin-left: 1270px;
    margin-top: 28px;
}

.login:hover {
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 27px;
}

.login button {
    width: 120px;
    background-color: rgba(240, 248, 255, 0);
    border: 0px;
}

.login .login-text {
    margin-top: 5px;
    color: white;
    font-weight: bold;
}

.login>a img {
    width: 25px;
    float: left;
}

/*nút giỏ hàng */
.shopping {
    position: absolute;
    color: black;
    margin-left: 1400px;
    margin-top: 28px;
}

.shopping:hover {
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 27px;
}

.shopping button {
    width: 100px;
    background-color: rgba(240, 248, 255, 0);
    border: 0px;
}

.shopping .shopping-text {
    margin-top: 6px;
    color: white;
    font-weight: bold;
}

.shopping>a img {
    margin-right: -10px;
    width: 25px;
    margin-right: 5px;
    float: left;
}

/*menu*/
.menu-pa ul {
    position: absolute;
    margin-top: 90px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    width: 100%;
    height: 5%;
}


.menu-pa>ul>li {
    margin-right: 45px;
    margin-left: 23px;
    list-style: none;
}

.menu-pa>ul .li-1 {
    color: white;
    text-decoration: none;
}

.menu-pa>ul .li-1:hover {
    color: black;

}

.menu-con {
    /* z-index: 9999; */
    visibility: hidden;
    padding: 600px 0 0 0;
    /* margin-right: 50px; */
    display: none;
    line-height: 30px;
    color: black;
    position: absolute;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 2px 2px 5px 5px;
    top: -70px;
    right: 40px;
    width: 100px;
    background-color: white;
    /* line-height: 40px; */
    color: black;
    z-index: 999;
}

.menu-sp:hover .menu-con {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu-con .toy-film {
    margin-bottom: 20px;
}

.menu-con li {
    color: black;
    list-style: none;
}

.menu-con li a {
    text-decoration: none;
    color: black;
}

.content {
    color: red !important;
}

.trai {
    margin-top: -550px;
    margin-left: 150px;
    float: left;
}

.giua1 {
    margin-left: 370px;
    margin-top: -450px;
    position: absolute;
}

.giua {
    margin-top: -100px;
    float: left;
    margin-right: 40px;
}
/* --------------------------------------------------- */
.box-ct{
    margin-top: 30px;
}
.box-ct .img-ct{
    margin-left: 100px;
    float: left;
    margin-right: 50px;
}
.box-ct .img-ct .hinh-chinh{
    margin-left: 70px;
    width: 500px;
    /* border: 1px solid black; */
}
.box-ct .hinh-con{
    /* border: 1px solid black; */
    width: 150px;
    margin: 10px;
}.box-ct .hinh-con:hover{
    /* border: 1px solid red; */
    box-shadow: 0px 5px 10px red;
    border-radius: 10px;
}
.in4-ct{
    /* background-color: aqua; */
    width: 600px;
    height: 600px;
    float: left;
}
.in4-ct .price{
    margin: 20px;
    font-size: 20px;
}
.in4-ct .name-sp{
    font-size: 30px;
    margin-bottom: 50px;
}
.in4-ct .price{
    color: rgb(105, 101, 101);
}
.img-ct .saleoff{
    position: absolute;
    margin-top: -330px;
    margin-left: 1000px;
    border: 1px solid red;
    border-radius: 15px;
    width: 90px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
}
.in4-ct .price span{
    color: red;
}
.in4-ct .material-symbols-outlined{
    margin-left: 30px;
}
.so-luong{
    position: absolute;
    margin-left: 900px;
    margin-top: 430px;
}
.so-luong label{
    font-size: 30px;
    font-weight: bold;
}
.so-luong input{
    margin-top: 10px;
    margin-right: 10px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(99, 95, 95);

}
.so-luong input[type="number"]{
    padding-left: 20px;
    font-size: 20px;
}
/* -----------BẢNG THÔNG TIN SẢN PHẨM---------- */
.in4-sp {
    text-align: center;
    /* background-color: aqua; */
    width: 300px;
    height: 200px;
    position: absolute;
    left: 1000px;
    top: 750px;
}
.in4-sp p{
    font-weight: bold;
}
.in4-sp table {
    width: 100%;
    border-collapse: collapse;
}
.in4-sp table tr{
    height: 30px;
}
.in4-sp table, tr, td{
    border: 1px solid rgb(180, 166, 166);
}

#themTC{
    position: absolute;
    top: 670px;
    right: 150px;
}
.themTC{
    /* border: 1px solid black; */
    width: 250px;
    height: 30px;
    padding: 10px;
    color: red;
    font-weight: bold;
}
.inp-sl:hover{
    box-shadow: 0px 5px 10px black;
}
.button-themGH{
    width: 200px;
    height: 45px;
    margin-top: 44px;
    position: absolute;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button-themGH:hover{
    box-shadow: 5px 5px 10px rgb(60, 58, 58);
    background-color: whitesmoke;
    color: red;
    border: 1px solid red;
}
.mua-ngay{
    position: absolute;
    width: 150px;
    height: 44px;
    left: 450px;
    top: 45px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.mua-ngay:hover{
    box-shadow: 5px 5px 10px rgb(60, 58, 58);
    background-color: whitesmoke;
    color: red;
    border: 1px solid red;
}




/* ----------------------------------------------- */
/* --------GẠCH ĐỎ------- */
.g-red {
    background-color: rgb(217, 49, 49);
    margin-top: 70%;
    height: 50px;
}

.delivery1 {
    margin-left: 110px;
}

.delivery {
    float: left;
    margin-right: 350px;
    width: 350px;
}

.delivery img {
    float: left;
    margin-right: 30px;
}

.delivery .ship-text {
    margin-top: 10px;
    font-weight: bold;
    color: white;
}

.delivery1 .bow {
    margin-left: 80%;
    margin-top: -70px;
}

/* -------------------FOOTER--------------------- */
footer {
    margin: 20px;
}

footer form label {
    font-size: 30px;
    color: brown;
}

footer form .inp {
    width: 600px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    border: 2px solid black;
}
footer form .inp[type="email"] {
    padding-left: 30px;
}

footer form .submit {
    width: 80px;
    height: 35px;
    position: absolute;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: -85px;
    border: 0px;
    background-color: red;
    color: white;
    font-weight: bold;
}

.f-box {
    float: left;
    margin-right: 30px;
}

/* ------LIÊN HỆ----------- */
.under-form ul .f-title {
    color: red;
    font-weight: bold;
}

.under-form ul li {
    list-style: none;
    line-height: 40px;
    color: rgb(113, 108, 108);
}

.under-form ul .qr {
    margin-left: 40px;
}

.under-form ul .gio-lv {
    margin-left: -30px;
}

.under-form ul span {
    color: black;
    font-weight: bold !important;
}

/* ----------ĐIỀU KHOẢN VÀ CHÍNH SÁCH--------- */
.f-box ul a {
    color: rgb(113, 108, 108);
    text-decoration: none;
    line-height: 40px;
}

.f-box ul a:hover {
    color: red;
}

/* --------------- */
footer .text-end {
    text-align: center;
    margin-left: -20px;
    width: 1520px;
    float: left;
    background-color: rgb(184, 165, 165);
}